/* :root {
    --headerBackground: #01411c;
} */

* {
    --header-bg-color: #01411c;
    --hover-bg-color: #13aff0;

    /* border: 1px solid black; */
    font-family: 'Open Sans';
}

a {
    text-decoration-line: none;
    color: white;
    height: inherit;
    width: inherit;
}

#header {
    width: 100%;
    height: auto;
    /* overflow: auto; */
}

#appTitle {
	float: left;
    width: 40%;
    height: 4em;
    background-color: var(--header-bg-color);
    text-align: left;
    text-transform: uppercase;

    /* display: inline-flex;
    justify-content: left;
    align-items: center; */

    display: -moz-box;
    -moz-box-pack: left;
    -moz-box-align: center;

    display: -webkit-box;
    -webkit-box-pack: left;
    -webkit-box-align: center;

    padding-left: 4em;
}

#appTitle h2 a {
    font-family: 'Roboto';
    letter-spacing: 0.2em;
}

#navbar {
	float: right;
	width: 60%;
    background-color: var(--header-bg-color);
    height: 4em;
    text-align: right;
    padding-right: 1em;
    /* display: table; */
}

.linkBox {
    float: right;
    height: inherit;
    width: fit-content;

    /* background-color: lightgreen; */

    margin: 0 3em 0 0;
    transition: all 0.2s ease-in-out;
}

.linkBox a {
    /* height: inherit;
    width: inherit; */

    padding: 1em;

    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* background-color: lightblue; */
    transition: all 0.2s ease-in-out;
}

.linkBox:hover {
    background-color: var(--hover-bg-color);
}

.linkBox a .linkWrapper {
    /* background-color: red; */
    transition: all 0.2s ease-in-out;
}

.linkWrapper * {
    padding: 10px;
    /* display: inline-flex;
    justify-content: left;
    align-items: center;  */
}

.linkBox:hover a .linkWrapper {
    transform: scale(1.1);
}

.active {
    background-color: var(--hover-bg-color);
} 

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
} 

/* display: inline-flex;
align-items: center;
justify-content: right; */

/* display: -moz-box;
-moz-box-pack: center;
-moz-box-align: center;

display: -webkit-box;
-webkit-box-pack: center;
-webkit-box-align: center; */