* {
    /* border: 1px solid black; */
    font-family: 'Open Sans';
}

a {
    text-decoration-line: none;
    color: white;
    height: inherit;
    width: inherit;
}

#header {
    width: 100%;
    height: auto;
    /* overflow: auto; */
}

#appTitle {
	float: left;
    width: 40%;
    height: 4em;
    background-color: #01411c;
    text-align: left;
    text-transform: uppercase;

    display: inline-flex;
    justify-content: left;
    align-items: center;
    padding-left: 4em;
}

#appTitle h2 a {
    font-family: 'Roboto';
    letter-spacing: 0.2em;
}

#navbar {
	float: right;
	width: 60%;
    background-color: #01411c;
    height: 4em;
    text-align: right;
    padding-right: 2em;
    /* display: table; */
}

.linkBox {
    height: inherit;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    /* background-color: lightgreen; */

    margin: 0 3em 0 0;
    padding: 1em;
    transition: all 0.3s ease-in-out;
}

.linkBox:hover {
    background-color: #13aff0;
}

.linkBox .linkWrapper {
    height: fit-content;
    width: fit-content;
    /* background-color: lightgoldenrodyellow; */
    transition: all 0.3s ease-in-out;
}

.linkBox:hover .linkWrapper {
    transform: scale(1.1);
}

.active {
    background-color: #13aff0;
} 

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
} 