/* :root {
    --headerBackground: #01411c;
} */

* {
    --navbar-height: 4em;
    /* border: 1px solid red; */
}

a {
    text-decoration-line: none;
    color: inherit;
    height: inherit;
    width: inherit;
}

#header {
    width: 100%;
    height: auto;
}

#appTitle {
	/* float: left; */
    width: 20%;
    height: var(--navbar-height);
    background-color: var(--primary-color);
    text-align: left;
    text-transform: uppercase;
    color: white;
}

#appTitle h1 {
    width: fit-content;
}

#appTitle h1 a {
    font-family: 'Roboto';
    letter-spacing: 0.2em;
}

#navbar {
	float: right;
	width: 80%;
    background-color: var(--primary-color);
    height: var(--navbar-height);
    text-align: right;
}

.linkBox {
    /* float: right; */
    /* height: inherit;
    width: max-content; */
    border-radius: 50%;
    height: var(--navbar-height);
    width: var(--navbar-height);
    color: white;

    background-color: var(--primary-color);

    margin-left: 1em;
    transition: all 0.2s ease-in-out;
}

.linkBox a i {
    width: fit-content;
    margin: 0.5em 1em;
    /* background-color: red; */
    transition: all 0.2s ease-in-out;
}

.linkBox:hover {
    background-color: var(--hover-color);
}

.linkBox:hover a i {
    transform: scale(1.2);
} 

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 2em;  
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}


.active {
    background-color: var(--hover-color);
}

.dropdown {
    /* background-color: red; */
    position: relative;
    display: inline-block;
    height: var(--navbar-height);
    /* float: right; */
}

.hoverBox {
    float: right;
    height: inherit;
    width: max-content;
    color: white;
    /* background-color: blue; */
    transition: all 0.2s ease-in-out;
}

.hoverBox i {
    width: fit-content;
    margin: 0.5em 1em;
    border-radius: 50%;
    /* background-color: red; */
    transition: all 0.2s ease-in-out;
    transform: scale(1);
}

.hoverBox:hover {
    background-color: var(--hover-color);
}

.hoverBox:hover i {
    transform: scale(1.2);
}

.dropdown:hover .hoverBox .dropdownCol {
    display: block;
}

.dropdownCol {
    display: none;
    position: absolute;
    background-color: lightgray;
    width: inherit;
    z-index: auto !important;
}

.dropdownRow {
    width: inherit;
    background: red;
}

.linkBox2 {
    /* float: right; */
    height: inherit;
    width: max-content;
    color: white;

    background-color: var(--primary-color);

    margin-left: 1px;
    transition: all 0.2s ease-in-out;
}

.linkBox2 a i {
    width: fit-content;
    margin: 0.5em 1em;
    /* background-color: red; */
    transition: all 0.2s ease-in-out;
    transform: scale(1);
}

.linkBox2:hover {
    background-color: var(--hover-color);
}

.linkBox2:hover a i {
    transform: scale(1.2);
}

/* display: inline-flex;
align-items: center;
justify-content: right; */

/* display: -moz-box;
-moz-box-pack: center;
-moz-box-align: center;

display: -webkit-box;
-webkit-box-pack: center;
-webkit-box-align: center; */