<div id="header">

  <div id="titleContainer">
    <div id="titleContent">
      <h1><a routerLink="{{rs.LANDING_PAGE.ROUTE}}"> {{gs.APP_NAME}} </a></h1>
      <mat-progress-bar *ngIf="gs.IN_PROGRESS" class="example-margin" mode="indeterminate"></mat-progress-bar>
    </div>
  </div>

  <div id="navbarContainer">
    <div id="navbarContent">

      <div class="dropdown">

        <div title="Details" class="hoverBox centerBoth">
          <i class="material-icons">more_vert</i>
        </div>

        <div class="dropdownCol">
            <div *ngIf="this.authService.isLoggedIn()" title="Your Notes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="linkBox">
              <a class="centerBoth" routerLink="{{rs.LANDING_PAGE.ROUTE}}"><i class="material-icons">notes</i></a>
            </div>
            <!-- <div *ngIf="this.authService.isLoggedIn()" title="{{remindersTitle}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="linkBox">
              <a class="centerBoth" routerLink="{{rs.REMINDERS_PAGE.ROUTE}}"><i class="material-icons">timer</i></a>
            </div> -->
            <div *ngIf="this.authService.isLoggedIn()" title="{{yourAccountTitle}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="linkBox">
              <a class="centerBoth" routerLink="{{rs.YOUR_ACCOUNT_PAGE.ROUTE}}"><i class="material-icons">account_box</i></a>
            </div>
            <!-- <div *ngIf="this.authService.isLoggedIn()" title="{{settingsTitle}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="linkBox">
              <a class="centerBoth" routerLink="{{rs.SETTINGS_PAGE.ROUTE}}"><i class="material-icons">settings</i></a>
            </div> -->
            <div *ngIf="this.authService.isLoggedIn()" title="Logout" class="linkBox">
              <a class="centerBoth" routerLink="{{this.rs.LOGIN_PAGE.ROUTE}}" (click)="this.authService.logout()"><i class="material-icons">exit_to_app</i></a>
            </div>
          </div>

      </div>
      
      <div class="flat">
        <div *ngIf="this.authService.isLoggedIn()" title="Logout" class="linkBox">
          <a class="centerBoth" routerLink="{{this.rs.LOGIN_PAGE.ROUTE}}" (click)="this.authService.logout()"><i class="material-icons ">exit_to_app</i></a>
        </div>
        <!-- <div *ngIf="this.authService.isLoggedIn()" title="{{settingsTitle}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="linkBox">
          <a class="centerBoth" routerLink="{{rs.SETTINGS_PAGE.ROUTE}}"><i class="material-icons">settings</i></a>
        </div> -->
        <div *ngIf="this.authService.isLoggedIn()" title="{{yourAccountTitle}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="linkBox">
          <a class="centerBoth" routerLink="{{rs.YOUR_ACCOUNT_PAGE.ROUTE}}"><i class="material-icons">account_box</i></a>
        </div>
        <!-- <div *ngIf="this.authService.isLoggedIn()" title="{{remindersTitle}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="linkBox">
          <a class="centerBoth" routerLink="{{rs.REMINDERS_PAGE.ROUTE}}"><i class="material-icons">timer</i></a>
        </div> -->
        <div *ngIf="this.authService.isLoggedIn()" title="Your Notes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="linkBox">
          <a class="centerBoth" routerLink="{{rs.LANDING_PAGE.ROUTE}}"><i class="material-icons">notes</i></a>
        </div>

      </div>
      
    </div>
  </div>
  
</div>







<!-- <div title="{{yourAccountTitle}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="linkBox">
  <a routerLink="{{rs.YOUR_ACCOUNT_PAGE.ROUTE}}"><div class="iconWrapper"><i class="material-icons">account_box</i></div></a>
</div> -->

<!-- <i class="material-icons md-48">face</i> -->

<!-- <div>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="{{rs.LANDING_PAGE.ROUTE}}"> {{gs.APP_NAME}} </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          
          <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="{{rs.REMINDERS_PAGE.ROUTE}}">
              <span class="glyphicon glyphicon-time"></span>
              Reminders
            </a>
          </li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-down"></span></a>
            <ul class="dropdown-menu">

              <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="{{rs.YOUR_ACCOUNT_PAGE.ROUTE}}" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-user"></span>
                  Your Account
                </a>
              </li>
              
              <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="{{rs.SETTINGS_PAGE.ROUTE}}" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-wrench"></span>
                  Settings
                </a>
              </li>

              <li *ngIf="this.authService.isLoggedIn()">
                <a routerLink="{{this.rs.LOGIN_PAGE.ROUTE}}" class="dropdown-toggle" data-toggle="dropdown" (click)="this.authService.logout()">
                  <span class="glyphicon glyphicon-log-out"></span>
                  Logout
                </a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </nav>
</div> -->



<!-- <nav>
  <ul>
    <li routerLinkActive="active current" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/login" >Login</a></li>
    <li routerLinkActive="active current" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/dashboard" >Dashboard</a></li>
  </ul>
</nav> -->

<!-- <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true}"><a routerLink="/settings">Settings</a></li> -->
<!-- <li *ngIf="this.authService.isLoggedIn()"><a (click)="this.authService.logout()" routerLink="{{this.rs.LOGINPAGE_STR}}">Logout</a></li> -->