* {
    --input-height: 2em;
    --min-input-width: 400px;

    /* border: 1px solid black; */
}

h2 {
    font-family: 'Roboto';
    padding: 0.5em 0;
    text-transform: capitalize;
}

input {
    /* display: inline; */
    min-height: var(--input-height);
}

input[type="text"] {
    min-width: var(--min-input-width);
    /* width: 75%; */
}

.dashboard {
    width: 100%;
    height: auto;
}

.leftbar {
    width: 50%;
    /* background: lightblue; */
}

.rightbar {
    width: 50%;
    /* background: lightgreen; */
}

.addNoteSection {
    text-align: left;
    color: black;
    padding-left: 20%;
}

.yourNotesSection {
    text-align: left;
    color: black;
    padding-left: 20%;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: var(--input-height);  
    display: inline;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor: pointer;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.taskRow {
    width: fit-content;
    min-height: var(--input-height);
    /* background: lightgreen; */
    display: inline-flex;
    vertical-align: middle;
}