* {
    --input-height: 2em;
    --min-input-width: 400px;

    /* border: 1px solid black; */
}

.dashboard {
    width: 100%;
    height: auto;
}

.leftbar {
    float: left;
    width: 50%;
    /* background: lightblue; */
    height: fit-content;
}

.addNoteSection {
    text-align: left;
    color: black;
    padding-left: 10%;
}

.rightbar {
    float: right;
    width: 50%;
    /* background: lightgreen; */
    height: fit-content;
    /* border-left: 3px solid var(--primary-color); */
}

.yourNotesSection {
    text-align: left;
    color: black;
    padding-left: 10%;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 2em;  
    display: inline;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor: pointer;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.taskRow {
    width: fit-content;
    min-height: var(--input-height);
    /* background: lightyellow; */
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

h2 {
    font-family: 'Roboto';
    padding: 0.5em 0 0.5em 0;
    text-transform: capitalize;
}

.validationError {
    color: red;
}

input {
    min-height: var(--input-height);
}

.mat-form-field {
    min-width: var(--min-input-width);
    min-height: var(--input-height);
    height: auto;
}

.mat-checkbox {
    padding: 0.5em; 
    /* margin: 0; */
    /* background: red; */
}

@media(max-width: 600px){
	.leftbar {
		width:100%;
		float:none;
	}

	.rightbar {
		width:100%;
		float:none;
	}
}