/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    --primary-color: #01411c;
    --hover-color: #13aff0;
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Open Sans';
}

.toRight {
    float: right;
}

.toLeft {
    float: left;
}

.centerBoth {
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

body {
    /* background: lightseagreen; */
}

/* * {
    margin: 0px;
    position: ;
} */

/* body {
    padding: 40px 80px;
    font-size: 20px;
}

button {
    font-size: 18px;
    border-radius: 1em;
    background-color: khaki
} */

/* a {
    display: block;
}

a.active {
    color: red; 
} */

/* This is for highlighting incorrect first name field */
/* .form-control.ng-touched.ng-invalid {
    border: 2px solid red
} */